@font-face {
    font-family: TektonPro;
    src: url(../fuentes/TektonPro-Bold.otf);
}

@font-face {
    font-family: Lato;
    src: url(../fuentes/Lato-Regular_0.ttf);
}


@font-face {
    font-family: segoeui;
    src: url(../fuentes/segoeui.ttf);
}


